<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<suite-files>
		<!--<suite-file path="./XMLFiles/Jobcomplet/Client_Onboarding.xml"></suite-file>
		<suite-file path="./XMLFiles/Jobcomplet/Association_Page.xml"></suite-file>
		<suite-file path="./XMLFiles/Jobcomplet/Client_Template.xml"></suite-file>-->
		<suite-file path="./XMLFiles/Jobcomplet/Assingjob_workiteam.xml"></suite-file>
		<suite-file path="./XMLFiles/Jobcomplet/Sorter.xml"></suite-file>
		<suite-file path="./XMLFiles/Jobcomplet/SorterQA.xml"></suite-file>
		<suite-file path="./XMLFiles/Jobcomplet/MT1.xml"></suite-file>
		<suite-file path="./XMLFiles/Jobcomplet/MT2.xml"></suite-file>
		<suite-file path="./XMLFiles/Jobcomplet/QA1.xml"></suite-file>
		<suite-file path="./XMLFiles/Jobcomplet/QA2.xml"></suite-file>
		<suite-file path="./XMLFiles/Jobcomplet/QC.xml"></suite-file>
	</suite-files>
	
</suite>
